/* 전체 공통(배경)*/
body {
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  max-height: 150vh;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Header헤더 */
.a {
  text-align: center;
}

/* login 로그인 */
.login-button_wrapper {
  display: flex;
  justify-content: center;
  min-height: 35vh;
  align-items: center;
  padding-bottom: 80px;
}

@media (max-width: 400px) {
  .kakao_login_small {
    display: inline;
  }
  .kakao_login_medium {
    display: none;
  }
  .kakao_login_large {
    display: none;
  }
}

@media (min-width: 401px) {
  .kakao_login_small {
    display: none;
  }
  .kakao_login_medium {
    display: inline;
  }
  .kakao_login_large {
    display: none;
  }
}

@media (min-width: 600px) {
  .kakao_login_small {
    display: none;
  }
  .kakao_login_medium {
    display: none;
  }
  .kakao_login_large {
    display: inline;
  }
}
/* 메인 --> 로그인으로 병합*/
.img_wrapper {
  display: flex;
  justify-content: center;
}
.moon_wrapper {
  display: grid;
  place-items: center;
  min-height: 60vh;
  margin-top: 10vh;
}
.moon_img {
  width: 230px;
  height: 230px;
}

/* .button_wrapper {
  display: flex;
  justify-content: center;
} */
/* .startbtn {
  background-color: gold;
  padding: 20px;
  margin: 20px 0 30px 0;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.15ch;
  font-size: large;
  color: black;
} */

/* Diary달력보기 */
.calendar_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  min-height: 30vh;
}
.smile {
  background-image: url(../public/img/kakao_login_large.png);
  /* 왼측상단일부만 나옴->크기조정하기  */
  height: 7px;
  width: 7px;
  /* background-color: green;
  border-radius: 50%; */
  display: flex;
  margin-left: 13px;
}
p {
  margin: 0;
}
.datecheck {
  color: aliceblue;
}
.readDiary_btn_wrapper {
  display: flex;
  justify-content: center;
}
.readDiary_btn {
  border-radius: 15px;
  background-color: hsl(44, 90%, 75%);
}
/* 모달창 화면 */
.modal_container {
  width: 300px;
  height: 350px;
  /* 최상단 위치 */
  z-index: 999;
  /* 중앙 배치 */
  /* translate는 본인의 크기 기준으로 작동 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*모달 디자인*/
  background-color: rgb(212, 212, 203);
  border: 1px solid gray;
  border-radius: 8px;
}
.deleteBtn {
  /* position: absolute; */
  right: 30px;
  top: 10px;
  border: 1px gray;
  margin: 8px;
}
.modifyBtn {
  right: 30px;
  top: 10px;
  border: 1px gray;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px gray;
}
.selectedDate_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.day_feeling {
  display: flex;
  justify-content: center;
}
.day_feel {
  height: 70px;
}
.day_oneline {
  border: 0px solid;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  margin: 20px;
}

.dailymoon_wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* align-items: center; */
}
.dailymoon_img {
  height: 20vh;
  width: 20vh;
  position: absolute;
  bottom: 0.1px;
  left: 50%;
  transform: translate(-50%);
}

/* DiaryCreate 글작성 */
h3 {
  color: whitesmoke;
}
h5 {
  color: whitesmoke;
}

.feeling_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.icon1 {
  height: 10vh;
  width: 10vh;
  padding: 3px;
  cursor: pointer;
}
.icon1.selected {
  height: 12vh;
  width: 12vh;
  padding: 3px;
}
.icon2 {
  height: 10vh;
  width: 10vh;
  padding: 3px;
  cursor: pointer;
}
.icon2.selected {
  height: 12vh;
  width: 12vh;
  padding: 3px;
}
.icon3 {
  height: 10vh;
  width: 10vh;
  padding: 3px;
  cursor: pointer;
}
.icon3.selected {
  height: 12vh;
  width: 12vh;
  padding: 3px;
}
.icon4 {
  height: 10vh;
  width: 10vh;
  padding: 3px;
  cursor: pointer;
}
.icon4.selected {
  height: 12vh;
  width: 12vh;
  padding: 3px;
}
.icon5 {
  height: 10vh;
  width: 10vh;
  padding: 2px;
  cursor: pointer;
}
.icon5.selected {
  height: 12vh;
  width: 12vh;
  padding: 2px;
}

.simple-dairy_wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.one-dairy {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

textarea {
  height: 20vh;
  width: 47vh;
  overflow: scroll;
}
.write-dairy {
  overflow: scroll;
  overflow-x: hidden;
}
.write-dairy::-webkit-scrollbar {
  width: 5px;
}
.write-dairy::-webkit-scrollbar-thumb {
  height: 25%;
  background: #cbbcad;
  border-radius: 10px;
}

.tags {
  display: flex;
  justify-content: center;
  padding-top: 27px;
}
.tags_wrapper {
  /* flex-direction: row; */
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.tag1 {
  padding: 20px;
  cursor: pointer;
}
.tag1.selected {
  padding: 20px;
  color: gold;
  font-size: x-large;
}
.tag2 {
  padding: 20px;
  cursor: pointer;
}
.tag2.selected {
  padding: 20px;
  color: gold;
  font-size: x-large;
}
.tag3 {
  padding: 20px;
  cursor: pointer;
}
.tag3.selected {
  padding: 20px;
  color: gold;
  font-size: x-large;
}
.tag4 {
  padding: 20px;
  cursor: pointer;
}
.tag4.selected {
  padding: 20px;
  color: gold;
  font-size: x-large;
}

.todayimg {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.fileuploader_wrapper {
  display: flex;
  justify-content: center;
}
.fileupload {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  height: 30vh;
}

.fileuploader {
  display: none;
}

.upload-dairy-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: x-large;
  background-color: gold;
}

.kakao_ll {
  margin-top: 90px;
  padding: 20px;
}
